@import "compass";

/*values*/
$main_width: 1024px;

/*mixin*/
@mixin debug_red {
  background-color: #FF0000;
}

.leftright_padding {
  padding: 0px 10px 0px 10px
}

/*---------------------------------------------------------------------------------------------------*/

/*clearfix*/
.cleafix {
  @include clearfix;
}

/*div_centering*/
div.div_centering {
  width: $main_width;
  margin: 0 auto;
  @include debug_red;
  @include clearfix;
}