// Place all the styles related to the TopPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_base.css.scss";

div.canvas {
  width: $main_width;
  height: 400px;
  background-color: silver;
}

p#first {
  color: #0000FF;
}

#slides {
  display: none;
}

#slides.prev {
position:absolute;
top:107px;
left:-39px;
width:24px;
height:43px;
display:block;
z-index:101;
}

#slides.next {
position:absolute;
top:107px;
left:315px;
width:24px;
height:43px;
display:block;
z-index:101;
}

.play
{
 display:none;
}